<head>
    <!-- start meta from weldplast.cz -->
    <meta charset="utf-8" />
    <meta name="keywords" content="Weldplast" />
    <meta name="description" content="Weldplast" />
    <meta name="author" content="Lithio spol. s r.o., http://www.lithio.cz" />
    <meta name="og:site_name" content="Produkty Leister" />
    <meta name="og:type" content="website" />
    <meta name="fb:app_id" content="252707804927152" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="https://www.weldplast.cz/assets/cs/images//favicons/mstile-150x150.png" />
    <meta property="og:title" content="Weldplast" />
    <meta property="og:image" content="https://www.weldplast.cz/assets/cs/images/fb.png" />
    <meta property="og:description" content="Weldplast" />
    <meta property="og:url" content="https://www.weldplast.cz/" />
    <!-- end meta from weldplast.cz -->

    <!-- meta name="viewport" content="width=device-width, initial-scale=1"-->

    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <html lang="{{ .Site.LanguageCode }}" class="has-navbar-fixed-top"></html>

</head>
