<section class="hero is-info">
  <div class="hero-body">

<table class="table is-bordered is-striped is-hoverable is-fullwidth">

<tr>
<td>
Product Name: 
</td>
<td>
{{ .Params.product_name }}
</td>
</tr>

<tr>
<td>
Product ID: 
</td>
<td>
{{ .Params.product_id }}
</td>
</tr>


<tr>
<td>
URL: 
</td>
<td>
{{ .Params.Link }}
</td>
</tr>
 
<tr>
<td>
Title: 
</td>
<td>
{{ .Params.title }}
</td>
</tr>
 


<tr>
<td>
Product Specs: 
</td>
<td>
{{ .Params.product_specs }}
</td>
</tr>

 

<tr>
<td>
Accessories: 
</td>
<td>
{{ .Params.accessories }}
</td>
</tr>


<tr>
<td>
Similar Products: 
</td>
<td>
{{ .Params.similar_products }}
</td>
</tr>


<tr>
<td>
Href: 
</td>
<td>
{{ .Params.href }}
</td>
</tr>


</table>
<hr>


 </div>
</section>

